html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Nunito', sans-serif;

}

.btn-primary {
  background: #cc0000; border-color: #cc0000;
}

.btn-primary:hover {
  background: #aa0000; border-color: #aa0000;
}